.auth__button {
    width: 358px;
    height: 50px;
    margin-top: 50px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    transition: opacity 0.1s ease-out;
    outline: none;
    border: none;
    background-color: white;
    color: black;
}

.auth__button:hover {
    cursor: pointer;
    opacity: 0.85;
}
