.auth__input {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 358px;
    border: none;
    margin-bottom: 30px;
    line-height: 17px;
    font-size: 14px;
    background-color:black;
    color: white;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 13px;
}

.auth__input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}